

  table, td, th {
    border: solid black 1px;
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    
  }

  th{
    background-color: darkgray;
  }

  td, th{
    font-family: Helvetica;
  }




  input, textarea{
    background-color: #f3f3f3;
    border: none;
}

input:hover, textarea:hover {
background-color: lightgrey;
}

table{
  background-color: lightgrey;
}

#S{
  background-color: red;
}

#A{
  background-color: orange;
}

#B{
  background-color: yellow;
}

#C{
  background-color: green;
}

#D{
  background-color: blue;
}

#E{
  background-color: purple;
}


ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1{
  margin: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

form{
  margin: 5px
}

.active {
  background-color: silver;
}

h2{
  margin: 5px;
}